body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}
section{
    margin-bottom:80px;
}
#top-section{
    background: linear-gradient(to bottom,rgba(126, 123, 123, 0),rgba(0,0,0, 100) ),url(images/donation4.jpg);
    background-size:cover;
	background-position:center center;
    background-repeat:no-repeat;
}
.tob-contenar{
    width:700px;
    margin:0 auto;
    color:white;
    text-align:center;
    padding:180px 0px;
}
.tob-contenar h1{
    font-size: 55px;
    margin:0;
    line-height: 70px;
}
.link-button{
    background-image:linear-gradient(rgb(241, 101, 77), #F67080);
    padding:15px 35px;
    border:none;
    border-radius:25px;
    font-size: 18px;
    color:white;
    margin-top: 20px;
    box-shadow: 2px 2px 6px tomato;
    cursor:pointer;
}
#contenar{
    width:1100px;
    margin:0 auto;
}
.donate-head{
    width:600px;
    margin:0 auto;
    text-align:center;
}
.main-head-line{
    font-size: 40px;
    margin:0;
}
.Amount{
    display:flex;
}
.Amount h1{
    width:100px;
    margin:10px;
    color:rgb(78, 78, 78);
    padding:30px 50px;
    border-radius:8px;
    text-align:center;
    font-size: 35px;
    background-color:rgb(231, 231, 231);
}
.amount-jar{
    border:2px solid tomato;
   
}
.another-amount{
    text-align:center;
    width:200px;
    margin:0 auto;
}
.another-amount p{
    border-bottom:1px solid rgb(170, 170, 170);
    padding:5px;
    color:rgb(133, 131, 131);
}
.our-plan{
    width:350px;
    margin:10px;
    border-radius:8px;
    padding:60px 20px;
    color:rgb(95, 93, 93);
}
.first-color{
    background-color:rgba(189, 189, 189, 0.253);
}
.secend-color{
    background-color:rgba(212, 230, 172, 0.336);
}
.threed-color{
    background-color:rgba(144, 159, 226, 0.26);
}
#helpless-people{
    display:flex;
}
.live-depend{
    width:50%;
    margin:20px;
}
.live-depend h1{
    font-size:40px;
}
.live-depend img{
    width:100%;
    max-width:100%;
    height: 400px;
}
.sucribe-form{
    background:red;
    display:flex;
    margin:10px;
    color:white;
    border-radius:5px;
}
.form{
    width:320px;
    margin:25px;
}
.input-box{
    padding:10px;
    border-top-left-radius:15px;
}
.sucribe-button{
    padding:11px;
    background:black;
    color:white;
    margin-left: -18px;
    border-bottom-right-radius:10px;
}
.form h5{
    font-size: 15px;
    margin:0;

}